*{
    font-family: "Figtree";
}
body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;    
}
.container{
    align-items: center;
    
    background-color: white;
    padding: 20px;
    width: 336px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 1px black;
    border-radius: 20px;
}
.image img{
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.text span{
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    padding: 10px;
    border-radius: 5px;
    width: 70px;
    height: 15px;
    text-align: center;
}
#p2{
    color: hsl(0, 0%, 7%);
    font-weight: 500;
}
.text h2{
    margin: 0;
}
#p3 {
    color: hsl(0, 0%, 42%);
    font-weight: 500;
}
.avatar{
    display: flex;
    align-items: start;
    font-weight: 800;
    gap: 15px;
}
.avatar img{
    height: 40px;
    padding-top: 5px;
}
.text h2:hover{
    cursor: pointer;
}    
.text h2:active{
    color: hsl(47, 88%, 63%);
}
